a {
  margin-left: 1em;
  margin-right: 1em;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

a:hover {
  color: var(--nord13);
}

@media (max-width: 425px) {
  a {
    font-size: 15px;
    margin-left: .8em;
    margin-right: .8em;
  }
}

a {
  color: var(--nord4);
  text-decoration: none;
}

