<div
  style="background: url(../../assets/terminal-background.jpg) repeat-y;width: 100%; height: 100%; background-size: contain">
  <div class="center-column" style="position: absolute; z-index: 1; margin-top: 2em">
    <h2>Social Media</h2>

    <div style="display: flex; justify-content: center; width: 100%">
      <div class="icon-layout" (click)="linkedInClicked()">
        <img src="../../assets/linked-in.png" class="icon">
        <span class="icon-text">LinkedIn</span>
      </div>

      <div class="icon-layout" (click)="githubClicked()">
        <img src="../../assets/github.png" class="icon">
        <span class="icon-text">GitHub</span>
      </div>

      <div class="icon-layout" (click)="emailClicked()">
        <img src="../../assets/gmail.png" class="icon">
        <span class="icon-text">Email</span>
      </div>
    </div>
    <p class="subtitle">Contact me to connect, collaborate or just to chat.</p>
  </div>
  <div style="background: white; height: 100%; opacity: 0.78"></div>
</div>
