<div class="row text-center">
  <div class="col mt-5">
    <h2>Social Media</h2>

    <div style="display: flex; justify-content: center; width: 100%">
      <div class="icon-layout" (click)="linkedInClicked()">
        <img src="../../assets/linked-in.png" class="icon" alt="LinkedIn">
        <span class="icon-text">LinkedIn</span>
      </div>

      <div class="icon-layout" (click)="githubClicked()">
        <img src="../../assets/github.png" class="icon" alt="Github">
        <span class="icon-text">GitHub</span>
      </div>

      <div class="icon-layout" (click)="emailClicked()">
        <img src="../../assets/gmail.png" class="icon" alt="GMail">
        <span class="icon-text">Email</span>
      </div>
    </div>
    <p class="subtitle mt-2">Contact me to connect, collaborate or just to chat.</p>
  </div>
</div>
