<div class="row text-center">
  <div class="col mt-5">
    <h2>Social Media</h2>

    <div style="display: flex; justify-content: center; width: 100%">
      <div class="icon-layout" (click)="linkedInClicked()" (keydown.enter)="linkedInClicked()" tabindex="0">
        <img src="../../assets/linked-in.png" class="icon" alt="LinkedIn" tabindex="-1">
        <span class="icon-text" tabindex="-1">LinkedIn</span>
      </div>

      <div class="icon-layout" (click)="githubClicked()" (keydown.enter)="githubClicked()" tabindex="0">
        <img src="../../assets/github.png" class="icon" alt="Github" tabindex="-1">
        <span class="icon-text" tabindex="-1">GitHub</span>
      </div>

      <div class="icon-layout" (click)="emailClicked()" (keydown.enter)="emailClicked()" tabindex="0">
        <img src="../../assets/gmail.png" class="icon" alt="GMail" tabindex="-1">
        <span class="icon-text" tabindex="-1">Email</span>
      </div>
    </div>
    <p class="subtitle mt-2">Contact me to connect, collaborate or just to chat.</p>
  </div>
</div>
