.icon-text {
  margin: 0 8px;
  line-height: 32px
}

.icon {
  height: 32px;
}

.icon-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em .5em 1em .5em;
  padding: .5em;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.icon-layout:hover {
  color: #0FA0CE;
  cursor: pointer;
}

@media (max-width: 768px) {
  .icon-layout {
    padding: .1em;
    margin: .5em .25em .5em .25em
  }

  .subtitle {
    margin: 1em .5em;
  }
}

@media (max-width: 425px) {
  .icon-layout {
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }

  .subtitle {
    margin: 1em .5em;
  }
}
