<div id="page-wrap">

  <img src="../../assets/cthulu.png" alt="Photo of Cthulu" id="pic"/>

  <div id="contact-info" class="vcard">

    <!-- Microformats! -->

    <h1 class="fn">Cameron Ryan Kenneth Cordes</h1>

    <p>
      Email: <a class="email" href="mailto:cameronc.dev@gmail.com">cameronc.dev@gmail.com</a>
    </p>
  </div>

  <div id="objective">
  </div>

  <div class="clear"></div>

  <dl>
    <dd class="clear"></dd>

    <dt>Education</dt>
    <dd>
      <h2>Baldwin Wallace University</h2>
      <p><strong>Major:</strong> Computer Science<br/>
        <strong>Minor:</strong> Math</p>
    </dd>

    <dd class="clear"></dd>

    <dt>Skills</dt>
    <dd>
      <h2>Computer skills</h2>
      <p>Windows, Linux, OSX, Android Studio, Visual Studio, XCode, Git, TFS, Microsoft productivity software (Word, Excel, etc).</p>
    </dd>

    <dd class="clear"></dd>

    <dt>Experience</dt>
    <dd>
      <h2>Progressive Insurance <span>Mobile Developer Jan 2018 - Present</span></h2>
      <ul>
        <li>Used the Model-View-ViewModel pattern to create easily testable screens</li>
        <li>Collaborated with a large team to rapidly introduce new features</li>
        <li>Presented presentations demonstrating best practices using Git and Reactive Extensions</li>
      </ul>

      <h2>Hyland Software <span>Developer II - Westlake, OH - 2016 - 2018</span></h2>
      <ul>
        <li>Developed a camera interface and photo viewer using Android Camera API for a consistent method of capturing photos and reviewing them</li>
        <li>Wrote an image downloading module with in memory caching</li>
        <li>Started an initiative to use the Model View Presenter pattern to enable more testable code</li>
      </ul>
    </dd>

    <dd class="clear"></dd>

    <dt>Hobbies</dt>
    <dd>Music, Movies, Motorcycles, Homebrewing, Travel</dd>

    <dd class="clear"></dd>

    <dt>References</dt>
    <dd>Available on request</dd>

    <dd class="clear"></dd>
  </dl>

  <div class="clear"></div>

</div>
