<div class="row h-100">
  <div class="col-12 col-xl-3 col-lg-4 col-md-4 col-sm-12 dark-bg text-center px-3">
    <h2 class="mt-3 px-2">Cameron Cordes</h2>
    <p class="tc-1">Android | iOS | Web</p>
    <img src="../../assets/cameron-headshot.jpg" class="w-75 shadow rounded" alt="headshot photo">
    <p class="my-3">Building things since 2015.</p>

    <h3 class="tc-1">Skills</h3>
    <p>
      Android - Java/Kotlin<br>
      iOS - Swift<br>
      Angular - TypeScript/JavaScript<br>
      Python
    </p>

    <h3 class="tc-1">Tools</h3>
    <p>
      IntelliJ/Android Studio, XCode, Vim, Git, TFS
    </p>
  </div>
  <div class="col light-bg">
    <div class="row mt-3">
      <div class="col mx-auto text-center">
        <h2>Education</h2>
      </div>
    </div>
    <div class="row mx-auto my-1">
      <div class="col-2 text-center">
        <span>2012 - 2015</span>
      </div>
      <div class="col">
        <span><strong>Computer Science.</strong> Baldwin Wallace University</span><br>
        <span>Bachelors of Science in Computer Science with a Minor in Mathematics</span>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-3">
        <h2>Experience</h2>
      </div>
    </div>
    <div class="row mx-auto my-1">
      <div class="col-2 text-center">
        <span>2018 - Present</span>
      </div>
      <div class="col">
        <span><strong>IT Apps Programmer Senior.</strong> Progressive Insurance, Mayfield Heights, OH.</span>
        <ul>
          <li>Worked on the Progressive Android and iOS mobile applications</li>
          <li>Wrote testable code using SOLID principles that served hundreds of thousands of users</li>
        </ul>
      </div>
    </div>
    <div class="row mx-auto my-3">
      <div class="col-2 text-center">
        <span>2016 - 2018</span><br>
      </div>
      <div class="col-10 col-xl-8">
        <span><strong>Developer II.</strong> Hyland Software, Westlake, OH.</span><br>
        <span><strong>Developer I.</strong> Hyland Software, Westlake, OH.</span>
        <ul>
          <li>Developed a camera interface and photo viewer using Android Camera API for a consistent
            method of capturing photos and reviewing them</li>
          <li>Created an image downloading module with in–memory caching</li>
          <li>Started an initiative to use the Model-View-Presenter pattern to enable more testable code</li>
        </ul>
      </div>
    </div>
    <div class="row mx-auto my-3">
      <div class="col-2 text-center">
        <span>May - Aug 2015</span>
      </div>
      <div class="col-10 col-xl-8">
        <span><strong>IT Intern.</strong> Parker Hannifin, Elyria, OH.</span>
        <ul>
          <li>Developed internal .NET Web applications using a SQL Server database</li>
          <li>Created and Excel macro converter for a mainframe terminal emulator</li>
        </ul>
      </div>
    </div>
    <div class="row mx-auto my-3">
      <div class="col-2 text-center">
        <span>Jan - May 2015</span>
      </div>
      <div class="col-10 col-xl-8">
        <span><strong>Mobile Application Developer.</strong> OEConnection, Richfield, OH.</span>
        <ul>
          <li>Developed prototype Android mobile application</li>
          <li>Worked with a small team using RESTful APIs to process the data</li>
        </ul>
      </div>
    </div>
    <div class="row text-center mx-auto my-1">
      <div class="col">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-xl-8 mx-auto p-0">
        <ul>
          <li>CorpsTime Mobile App – <span>Mobile application, web scrapers, and REST API to view Drum
              Corps scores, schedule and news. Android/Java; C# and JavaScript</span></li>
          <li>Hues Mobile App – <span>Mobile application using the Phillips Hue API to control Hue light bulbs
              color and brightness. Android/Kotlin</span></li>
          <li>Torque OBDII Log Graphing Tool – <span>Parses a .csv file of data from a vehicle’s sensors and
              graphs them over time. Python</span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mx-auto my-1">
        <h2>Hobbies</h2>
      </div> 
    </div>
    <div class="row">
      <div class="col-10 col-xl-8 mx-auto p-0">
        <ul>
          <li>Music</li>
          <li>Movies</li>
          <li>Motorcycles</li>
          <li>Programming</li>
          <li>Travel</li>
        </ul>
      </div>
    </div>

  </div>
</div>
