/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

h1, h2, h3, p, span, a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}

html, body {
  height: 100%;
  margin: 0;
}

.body-text {
  color: white;
  width: 50%;
  margin: 1em auto;
}

.dark-bg {
  background-color: var(--nord0);
}

.dark-bg span, .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg p {
  color: var(--nord4);
}

.light-bg {
  background-color: var(--nord6);
}

.tc-1 {
  color: var(--nord7)!important;
} 

.tc-2 {
  color: var(--nord8)!important;
} 

.tc-3 {
  color: var(--nord9)!important;
} 

.tc-4 {
  color: var(--nord10)!important;
} 

@media (max-width: 768px) {
  .body-text {
    font-size: 14px;
    width: 80%;
  }

  .very-thin-subtitle {
    font-size: 14px;
  }

  .thin-subtitle {
    font-size: 14px;
  }

  .subtitle {
    font-size: 14px;
  }

  h4 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .body-text {
    font-size: 16px;
  }

  .very-thin-subtitle {
    font-size: 16px;
  }

  .thin-subtitle {
    font-size: 16px;
  }

  .subtitle {
    font-size: 16px;
  }
}

.very-thin-subtitle {
  font-family: Montserrat, serif;
  font-weight: 200;
}

.thin-subtitle {
  font-family: Montserrat, serif;
  font-weight: 300;
}

.subtitle {
  font-family: Montserrat, serif;
  font-weight: 400;
}

.dark-background {
  background: #555555;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center
}

.active {
  color: var(--nord14) !important;
}
