<div class="row h-100 dark-bg">
  <!-- <div class="d-relative"> -->
  <!--   <img src="../../assets/CubeSpace.jpg" class="image" alt="background"> -->
  <!-- </div> -->
  <div class="col col-xl-9 col-lg-12 col-md-12 mx-auto text-center">
    <img src="../../assets/cameron-headshot.jpg" class="w-50 my-3" alt="headshot photo">
    <h1 class="overlay-text">Cameron Cordes</h1>
    <div class="row text-center">
      <div class="col-12 col-md-8 col-sm-12 mx-auto">
        <p class="thin-subtitle" style="color: white;">
          Android and iOS Developer
        </p>
        <p>
          Hello! I'm Cameron, I am a software developer focusing on mobile Android and iOS
          applications. I love software development, I enjoy creating things, solving problems and making simple, smart
          solutions to business problems.
        </p>
        <p>
          I first discovered programming by making bots for the classic Massively Multiplayer Online
          Role Playing Game Runescape. I learned that you could automate leveling up your skills by writing scripts to do
          the process for you. So I started reading other peoples scripts, learning the scripting language Pascal. I
          quickly realized that I could build something that could help myself and others level up their characters in the
          game and have fun learning and solving problems and thus sparked my love of programming and eventually software
          development.
        </p>
      </div>
    </div>
  </div>
</div>
